body {
    font-family: sans-serif;
    position: relative ;
    display: grid;
    margin: 0;
    padding: 0;
    background-color: #2E236C;

}

section.logo{
    width: 10px;
    display: contents;
}
nav.navbar {
    align-items: center;
    display: inline-flex;
    font-size: 23px;
    width: 98%;
    padding: 0;
    margin: 0;
    align-content: center;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;   
}

img.logo{
    max-width: 75px;

    
}
a {
    font-family: serif;
    font-display: bold;
    
    
}

section.Home_section{
    
    position: relative;
    width: 90%;
    left: 4%;
}

section.about_section{
    width: 89%;
    position: relative;
    left: 5%;
}

img.homeimg {
    float: right;
    border-radius: 185px;
    width: 33%;
    position: absolute;
    right: 0%;
    bottom: 45%;
}

img.homeimg2{
    float: left;
    position: relative;
    top: 20%;
}

img.aboutimg {
    float: right;
    border-radius: 184px;
    width: 35%;
    position: relative;
    bottom: 29%
}

a:-webkit-any-link {
    text-decoration: none;
    color:#C8ACD6;
}


h1.myproject_text{
    text-align: center;
    color: #FFF;
    position: relative;
    bottom: 17%;
    left: 44%;
    font-size: 32px;
    height: fit-content;    
}

h2.home_text{
    text-align: left;
    font-size: 40px;
    color: #FFF;
    max-width: 50%;

}

h2.home_text2{
    text-align: left;
    font-size: 40px;
    color: #FFF;
    max-width: 50%;
    position: relative;
    left: 60%;
    bottom: 17%;

}

h2.about_text{
    text-align: left;
    font-size: 40px;
    color: #FFF;
    max-width: 50%;
}

h3{
    text-align:left;
    font-size: 25px;
    color: #FFF;
    max-width: 50%;

}

p{
    font-size: 25px;
    font-family: serif;
    color: black;
    text-align: center;
}

p.copyright{
    color: #FFF;
}

hr{
    width: 100%;
    color: #C8ACD6;
}


button{
    width: 6%;
    background: #C8ACD6;
    border-radius: 11px;
    height: min-content;
    padding: 8px;
}

button:hover{
    color: black;
}

button.Hire_button{
    width: 9%;
    border-radius: 30px;
    border-style: hidden;
    color: black;
    background: #C8ACD6;
    height: 43px;
    position: inherit;
    left: 74%;
    bottom: 17%;  
}

button.Hire_button:hover{
        color: #FFF;
        background: #665ef5;
        transition: background 0.3s;   
}


button.Preview_button{
    width: 30%;
    background: #2E236C;
    color: #FFF;
    font-size: 18px;
    border-style: hidden;
    border-radius: 11px;
    height: min-content;
    padding: 12px;
    position: relative;
    left: 34%;
    bottom: 2%;
}
button.Preview_button:hover{
    color: #FFF;
    background: #665ef5;
    transition: background 0.3s;
}


button.Submit_button{
    width: 12%;
    border-style: hidden;
    color: black;
    background: #C8ACD6;
    border-radius: 11px;
    height: min-content;
    padding: 8px;
}

button.Submit_button:hover{
    color: #FFF;
    background: #665ef5;
    transition: background 0.3s;
}


input{
    border-radius: 7px;
}

input.name_input,
input.email_input{
    width: 50%;
    height: 110%;
}


textarea{
    width: 50%;
    font-size: 15px;
    height: 110px; 
    border-radius: 5px;
}

fieldset{
    font-size: 25px;
    display: grid;
    color: #FFF;
    position:relative;
    left: 1%;
}


li{
    display: inline;
    padding: 15px;
}



section.myproject_section{
    display: -webkit-inline-box;
    position: relative;
    bottom: -13%;
}

nav.navbar_bottom{
    position: relative;
    left: 68%;
    top: 27%
}

div.project_pos{
    display: contents;
    max-width: 90%;
}

div.project1{
    max-width: 50%;
    background: #9d9b9bae;
    border-radius: 37px;
    width: 35%;
}
div.project2{
    max-width: 50%;
    background: #9d9b9bae;
    border-radius: 37px;
    width: 35%;
    position: relative;
    left: 7%;
}

img.hotelbookimg{
    position: relative;
    right: 2%;
}

img.lungcancerimg{
    position: relative;
    bottom: 2%;
    right: -1%;
}


section.contact-me{
    position: relative;
    top: 13%
}

form{
    max-width: 60%;
}

address{
    color: #FFF;
    font-size: 25px;
    position: relative;
    left: 1%;
}

div.mysocials{
    position: relative;
    bottom: 230%;
    right: -72%
}

.linkedin-logo{
    font-size: 45px;
}
.linkedin-logo:hover{
    color: rgb(1, 19, 89);
    transition: color 0.3s;
}
.X-logo{
    font-size: 45px;
}
.X-logo:hover{
    color: rgb(0, 170, 255);
    transition: color 0.3s;
}
.github-logo{
    font-size: 45px;
}
.github-logo:hover{
    color: black;
    transition: color 0.3s;
}
.facebook-logo{
    font-size: 45px;
}
.facebook-logo:hover{
    color: rgb(16, 14, 132);
    transition: color 0.3s;
}

.instgram-logo{
    font-size: 45px;
}
.instgram-logo:hover{
    color:rgb(164, 7, 164);
    transition: color 0.3s;
}


.mail-outline{
    font-size: 25px;
}

.call-outline{
    font-size: 25px;
}

a.policy-link{
    position: relative;
    left: 64%;
    bottom: 46%;
}

.container{
    background: #ffffff67;
}